<div class="page-header">
  <%= link_to artefacts_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @artefact, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <%= link_to artefact_attachments_path(@artefact.id), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-paperclip"></span>
    Edit Attachments
  <% end %>
  <h1>Editing artefact</h1>
</div>

<%= render 'form' %>
